.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin: 4px auto;
    max-width: 1600px;
}

@media (max-width: 1600px) {
    .product-list {
        max-width: 1400px;
    }
}

@media (max-width: 992px) {
    .product-list {
        max-width: 800px;
    }
}

@media (max-width: 768px) {
    .product-list {
        max-width: 600px;
    }
}

@media (max-width: 576px) {
    .product-list {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
